main > div.head {
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 5rem;
}

main > div > div > a > img.logo {
    height: 9rem;
    margin-left: -13px;
    margin-right: auto;
}

html {
    font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
    font-weight: 300;
}

main > form > div > div > input {
    height: 4rem;
    width: 20rem;
    padding: 0 11px;
    border: 1px darkgrey solid;
    border-radius: 5px;
}

main > form > div > input.login {
    margin: 0 auto;
    height: 4rem;
    width: 20rem;
    font-size: 1rem;
    background-color: lightskyblue;
    border-radius: 7px;
    color: dimgray;
    font-weight: 400;
    border-style: unset;
}