body {
    justify-content: center;
    align-items: center;
    display: flex;
}

body > main {
    width: 42%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 23px;
    border-style: groove;
    background: linear-gradient(
            115deg, azure, cornsilk);
    padding-bottom: 5rem;
    margin-top: 3rem;
}

main > form {
    width: 40rem;
    margin-left: auto;
    margin-right: auto;
}

main > form > section > h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    margin-top: 3rem;
    color: gray;
}

main > form > section > table > tbody > tr > td > input {
    border-width: thin;
    height: 45px;
    width: 20rem;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: snow;
}

main > form > section > table > tbody > tr > th > label {
    color: grey;
}

main > form > div > input {
    height: 2rem;
    width: 5rem;
    background-color: antiquewhite;
    border-radius: 10px;
    border-style: hidden;
    cursor: pointer;
    margin-right: 1rem;

}

main > form > div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

main > form > section > table > tbody > tr > td > span.input-message {
    display: none;
}

main > form > section > table > tbody > tr > td > span.input-message.good {
    color: #77a518;
    display: inline;
}

main > form > section > table > tbody > tr > td > span.input-message.warning {
    color: #c91e1e;
    display: inline;
}